/* Colors */
$color-primary: #EC421F;
$color-black: #020200;
$color-gray-light: #F5F5F5;
$color-gray: rgb(179, 176, 171);
$color-white: white;


/* Fonts */
$font-family: Ubuntu;
$font-family-serif: Georgia;
$font-size-base: 16px;
 